.idea/
.vscode/
__pycache__/
env/
.env
.google-adc
*.whl

# Testing
.coverage

# pyenv
.python-version

.DS_Store
**/.DS_Store

gen-lang-client-0902979617-310141cd4731.json
gen-lang-client-0902979617-310141cd4731.json:Zone.Identifier

# Router examples output files
router_examples_output_*.txt
